<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.mapper.TOrderMapper">
    
    <resultMap type="TOrder" id="TOrderResult">
        <result property="id"    column="id"    />
    </resultMap>

    <sql id="selectTOrderVo">
        select id from t_order
    </sql>

    <select id="selectTOrderList" parameterType="TOrder" resultMap="TOrderResult">
        <include refid="selectTOrderVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectTOrderById" parameterType="Long" resultMap="TOrderResult">
        <include refid="selectTOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTOrder" parameterType="TOrder" useGeneratedKeys="true" keyProperty="id">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
         </trim>
    </insert>

    <update id="updateTOrder" parameterType="TOrder">
        update t_order
        <trim prefix="SET" suffixOverrides=",">

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTOrderById" parameterType="Long">
        delete from t_order where id = #{id}
    </delete>

    <delete id="deleteTOrderByIds" parameterType="String">
        delete from t_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>