<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.mapper.TUserMapper">
    
    <resultMap type="TUser" id="TUserResult">
        <result property="uId"    column="u_id"    />
        <result property="userName"    column="user_name"    />
        <result property="password"    column="password"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectTUserVo">
        select u_id, user_name, password, name from t_user
    </sql>

    <select id="selectTUserList" parameterType="TUser" resultMap="TUserResult">
        <include refid="selectTUserVo"/>
        <where>  
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectTUserById" parameterType="Long" resultMap="TUserResult">
        <include refid="selectTUserVo"/>
        where u_id = #{uId}
    </select>
        
    <insert id="insertTUser" parameterType="TUser" useGeneratedKeys="true" keyProperty="uId">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">user_name,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">#{userName},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
         </trim>
    </insert>

    <update id="updateTUser" parameterType="TUser">
        update t_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null">user_name = #{userName},</if>
            <if test="password != null">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
        </trim>
        where u_id = #{uId}
    </update>

    <delete id="deleteTUserById" parameterType="Long">
        delete from t_user where u_id = #{uId}
    </delete>

    <delete id="deleteTUserByIds" parameterType="String">
        delete from t_user where u_id in 
        <foreach item="uId" collection="array" open="(" separator="," close=")">
            #{uId}
        </foreach>
    </delete>

</mapper>